{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action = "/buy" method = "post">
        <div class = "form-group">
            <input autocomplete="off" autofocus class="form-control" name="Symbol" placeholder="Symbol" type="text">
        </div>
        <div class = "form-group">
            <input autocomplete="off" autofocus class="form-control" name="Quanitity" placeholder="Quantity" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}